*.class

.orig
.iml
.idea/
JavaDoc/

# Package Files #
*.war
*.ear

# Eclipse files #
.classpath
.project
.settings/

# IDEA files #
.idea/
*.iml

# Maven build files #
target/

*.iml

## Directory-based project format:
.idea/
# if you remove the above rule, at least ignore the following:


