{
  "applications": [
    {
      "name": "Violet",
      "icon": "icon.png",
      "jreExecutable": "${java.home}/bin/java",
      "javaVersion": "${java.version}",
      "vmArgs": "-Xmx128m -DauthorizedUser=${user}",
      "classPathEntries": [
        "../lib/violetproduct-swing-2.5.3.jar"
      ],
      "homeDir": "",
      "theme": "Murrine",
      "maxClients": 1,
      "sessionMode": "CONTINUE_FOR_BROWSER",
      "swingSessionTimeout": 300,
      "allowStealSession": true,
      "antiAliasText": true,
      "authorization": false,
      "isolatedFs": true,
      "debug": true,
      "authentication": false,
      "directdraw": true,
      "allowDelete": true,
      "allowDownload": true,
      "allowAutoDownload": true,
      "allowUpload": true,
      "uploadMaxSize": 5,
      "allowJsLink": true,
      "mainClass": "com.horstmann.violet.UMLEditorApplication",
      "args": ""
    }
  ]
}