Package: [[name]]
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Depends: jdk (>= 1.5)
Maintainer: Alexandre de Pellegrin
Description: Violet UML Editor
Distribution: production